.side-menu {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  opacity: 0.9;
  padding-top: 60px;
  transition: 0.5s ease;
  overflow: hidden;
}

.side-menu a {
  display: block;
  text-decoration: none;
  color: #ccc;
  font-size: 22px;
  padding: 10px 10px 10px 30px;
  transition: 0.3s;
}

.side-menu a:hover {
  color: var(--light);
}

.side-menu .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
}
